@import '../../App.scss';

.sign-in-page-wrapper {
  width: 100vw;
  height: 100vh;
  background:  linear-gradient(to top right, $primaryColor 10%, $primaryDarkColor 90%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .sign-in-page {
    position: relative;
    background-color: white;
    border-radius: 8px;
    width: 340px;
    min-width: 300px;
    box-shadow: 4px 5px 6px 0px $primaryLightColor;
    position: relative;
    transition: all 0.15s ease;

    .sign-in-page-logo {
      position: absolute;
      width: 100px;
      height: 100px;
      top: -50px;
      left: 50%;
      transform: translateX(-50px);
      border-radius: 50%;
      background: white;
    }

    .sign-in-page-header {
      padding-top: 50px;
      h2{
        color: $primaryLightColor;
      }
    }

    .sign-in-page-content {
      width: 100%;

      button {
        display: block;
        width: 85%;
        margin: 10px auto;
        padding: 8px;
        font-size: 0.8rem;
        font-weight: 600;
        border: none;
        border-radius: 5px;
  
        background-color: $primaryLightColor;
        color: $primaryDarkColor;
        box-shadow: 2px 2px 5px 0px $primaryDarkColor;

        &:focus, &:active, &:hover {
          outline: none;
          background-color: $primaryDarkColor;
          color: $primaryLightColor;
          box-shadow: 2px 2px 5px 0px $primaryLightColor;
        }

      }
    }
  }

  .have-account {
    margin-top: 10px;

    button {
      background: transparent;
      border: none;
      color: white;
      cursor: pointer;
      outline: none;

      &:active, &:select {
        outline: none;
      }

      &:hover {
        color: gray;
      }
    }
  }
}